doctype html

mixin infobox(nb,type)
    .col-md-4
        .infobox
            h3= nb
            p= type

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        //- meta(name="description",content="")
        //- meta(name="author",content="")
        title OCDS static stats
        link(rel="stylesheet",href="css/bootstrap.min.css")
        link(rel="stylesheet",href="css/float-dark.css")
        link(rel="stylesheet",href="css/style.css")
    body
        .container-fluid
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    .page-header
                        .row
                            h1 OCDS static stats
                    .row
                        .panel.panel-default
                            .panel-heading Data from [start-date] to [end-date]
                            .panel-body
                                +infobox(nb_procedures,s.procedures)
                        .panel.panel-default
                            .panel-body
                                +infobox(nb_procedures_active,s.procedures_active)
                                +infobox(nb_procedures_complete,s.procedures_complete)
                                +infobox(nb_procedures_incomplete,s.procedures_incomplete)
                        .panel.panel-default
                            .panel-body
                                +infobox(nb_contracts,s.contracts)
                                +infobox(nb_buyers,s.buyers)
                                +infobox(nb_suppliers,s.suppliers)
